<config>
	<com>
		<olympe>
			<ftpfilter>
				<input>
					<proftp>
						<logfile>/var/log/proftpd/transfer.log</logfile>
						<format> (?&lt;ip&gt;[0-9\.:a-fA-F]+) [0-9]+ /dns/in/olympe/(?&lt;user&gt;.*?) (?:a|b) _ i r (?&lt;file&gt;[^\s]+) ftp 0 \* c$</format>
					</proftp>
					<sftp>
						<logfile>/var/log/user.log</logfile>
						<format>close (?&lt;ip&gt;[0-9\.:a-fA-F]*)"/in/olympe/(?&lt;file&gt;(?&lt;user&gt;[^/]+)/.*?)" bytes read 0 written [0-9]+$</format>
					</sftp>
					<skip_files_larger_than>1048576</skip_files_larger_than>
					<stop_on_log_rotate>false</stop_on_log_rotate>
					<start_from_beginning>true</start_from_beginning>
					<user_root_dir>/dns/in/olympe/</user_root_dir>
				</input>
				
				<output>
					<file>/dns/tm/sys/var/log/ftpfilter.log</file>
					<mysql>
						<host>xxx</host>
						<port>3306</port>
						<db>xxx</db>
						<user>xxx</user>
						<pass>xxx</pass>
						<sql>INSERT INTO log (log_file, log_filter, log_user, log_ip, log_date) VALUES ('{FILE}', '{FILTER}', '{USER}', '{IP}', '{DATE}')</sql>
					</mysql>
				</output>
		
				<filters>
	
                    <banned_filename_filter>
                        <name>Bank Of Africa banned file</name>
                        <match>wholesalebanking_fr\.jpg|personal_banking\.jpg|call_deposit_account|cash_management_services</match>
                    </banned_filename_filter>
	
					<banned_filename_filter>
						<name>Various banned file</name>
						<match>scamie\.com\.html|/free\.fr/|homeBoxHalfBreak\.gif|moneybookers_com\.htm|topnav_withdrawmoney\.gif|logo_moneybookers\.gif|yregbase_sec_200808110948_01\.css|login_btny\.gif|ForgottenUserID\.html|pbar_arrow\-off\-b\-rb\.gif|apex_progress\-arrow\.gif|pll_consolodation1a_wb\.gif|update\-wells\-info|cvvnull\.html|wfwiblib\.js|btnbkgnd_rest\.gif|LoginMember\.do_|masterforex\.org/|rambler\.ru/|lachiene59\.exe|svchost\.exe</match>
					</banned_filename_filter>
					
					<banned_filename_filter>
						<name>Skyrock banned file</name>
						<match>Skyboost\.php</match>
					</banned_filename_filter>
					
					<banned_filename_filter>
						<name>Proxy banned file</name>
						<match>libel\.ttf</match>
					</banned_filename_filter>
					
					<banned_filename_filter>
						<name>Paypal banned file</name>
						<match>logo_ccVisa|www\.paypal|pp_main\.js|confirm\-paypal|payipal|flowSignUpQuickHits\.css|pp_naturalsearch\.js</match>
					</banned_filename_filter>
					
					<banned_filename_filter>
						<name>MSN banned file</name>
						<match>livecom_h_default_ngls|WL_flag|login0a9|hotmail_french\.jpg|WEBWinLive1036\.css|Msn_validate\.php|LiveID16\.gif|New_Msn\.scr|unsubscribeprocess2\.php</match>
					</banned_filename_filter>
					
					<banned_filename_filter>
						<name>Leech banned file</name>
						<match>megaupload_com\.php|easy_share_com\.php|4shared_com\.php|uploading_com\.php|rapidshare_com\.php|rev\.history\.txt|audl\.php|\.com\.index|\.com\.first</match>
					</banned_filename_filter>
					
					<banned_filename_filter>
						<name>La Poste banned file</name>
						<match>Par\.[0-9]+\.ImageRef\.(png|jpg)</match>
					</banned_filename_filter>
					
					<banned_filename_filter>
						<name>Dofus banned file</name>
						<match>download\.pt\.png|secure\.dofus\.com|ankama\.com|but_home_signupnow_en\.gif|dofus2_body_header\.jpg|bg_securized_home\.fr\.jpg|generateurkamas\.jpg</match>
					</banned_filename_filter>
					
					<banned_filename_filter>
						<name>Games banned file</name>
						<match>CombatEngine\.php|BuildFleetEventTable\.php|ogame_formula\.js|galaxy_obsolete\.php|OgameSpy\.gif|imperium\.mo|quickfleet\.php|buildings_defense\.tpl|habbo\.dcr|sec\.cct|fuse_client\.cct|empty\.cct|dcr\.nfo</match>
					</banned_filename_filter>
					
					<suspect_filename_filter>
						<name>Various suspect file</name>
						<match>reg\.files|video\.asp|zhuce1|shi1|playgirl|daima|webblue1033|aboobu\.txt|index_icone_ID_color|action=validation|superexitpopup|jiqing\.css</match>
					</suspect_filename_filter>

					<suspect_filename_filter>
						<name>Mailer</name>
						<match>\/sendmail\/|\/phpmailer\/</match>
					</suspect_filename_filter>
					
					<suspect_filename_filter>
						<name>Paypal suspect file</name>
						<match>paypal\.css|webscr|pp_favicon_x\.ico</match>
					</suspect_filename_filter>
					
					<suspect_filename_filter>
						<name>MSN suspect file</name>
						<match>securei\.php|bloquo</match>
					</suspect_filename_filter>
					
					<banned_content_filter>
						<name>Password logger banned content</name>
						<match>Bilal Ghouri|iStealer [0-9\.]|Kizar Labs|This Tester For Hardcore Steal</match>
					</banned_content_filter>

                    <banned_content_filter>
                        <name>Gameforge banned content</name>
                        <match>gameforge\.com/user/login|gameforge\.com/user/passwordlostrequest|WEBZEN YMIR GAMES Co</match>
                    </banned_content_filter>

					<banned_content_filter>
						<name>Auto Trader</name>
						<match>secure\.autotrader\.co\.uk</match>
					</banned_content_filter>

                    <banned_content_filter>
                        <name>Ankama banned content</name>
                        <match>/ankamaaccount/www/img/control_nok\.png|account\.ankama\.com/fr/identification|account\.ankama\.com/fr/login|secure\.dofus\.com|\.copyrightblizzard|hacker\-compte\-dofus|starpass_187898|Dofushack3</match>
                    </banned_content_filter>
					
					<banned_content_filter>
						<name>Mailer banned content</name>
						<match>&lt;title&gt;.*(?:inbox (?:mass\\s*)?mailer).*&lt;/title&gt;</match>
					</banned_content_filter>
					
					<banned_content_filter>
						<name>Free banned content</name>
						<match>Interface de gestion .span class="red".Freebox|free\.fr/adsl/index\.html|free\.fr/im/components/partials/top/logo\.png|\.php\?free=_login\-run</match>
					</banned_content_filter>
					
					<banned_content_filter>
						<name>Steam banned content</name>
						<match>header\("Location: http://store\.steampowered\.com|pacpac cimer dax|store\.steampowered\.com/public</match>
					</banned_content_filter>
					
					<banned_content_filter>
						<name>Skyrock banned content</name>
						<match>skyboost|By Sakyaz</match>
					</banned_content_filter>
					
					<banned_content_filter>
						<name>Paypal banned content</name>
						<match>(?:\.php|webscr)\?cmd=_login\-run|Logging in \- PayPal|PAYPAL\.util\.lazyLoad|class="scTrack:SRD:Nav:Z3|visa___mc_web__1_\.jpg|http://www\.visaeurope\.com\/en\/visa_europe\.aspx|Created By The Crypter-J|visaeurope\.fr/espace\-client</match>
					</banned_content_filter>
					
					<banned_content_filter>
						<name>MSN banned content</name>
						<match>login\.live\.com/login\.srf|accountservices\.passport\.net|login\.live\.com/ppsecure|MSN Blockade</match>
					</banned_content_filter>
					
					<banned_content_filter>
						<name>La Poste banned content</name>
						<match>content="?LaBanquePostale\.fr|cvs\.connectBtn\(cvs\.getUrlClavier\(\)\)|beneficiaire\.cesu\.labanquepostale|particuliers\.Par\.14926\.File\.swf|Mandat Cash Urgent en ligne|https://www\.labanquepostale\.fr/index/|skin\/universJeunes/bkg_header_smallborder\.png|La Banque Postale&lt;/title|MM-TEAM</match>
					</banned_content_filter>

                    <banned_content_filter>
                        <name>Twitter banned content</name>
                        <match>Location: https://twitter\.com/|curtystevenlogs|Bienvenue sur Twitter</match>
                    </banned_content_filter>
					
					<banned_content_filter>
						<name>Habbo banned content</name>
						<match>Location: http://habbo\.fr/account/submit|action="https?://www\.habbo\.fr\/account|habbotestcookie=supported</match>
					</banned_content_filter>
					
					<banned_content_filter>
						<name>Facebook banned content</name>
						<match>Location: http://www\.Facebook\.com/login\.php|http://www\.facebook\.com/privacy/explanation\.php|CavalryLogger=false|8yhim1ep\.ico|class="fb_logo_link|\.facebook\.com/reset\.php|title>Bienvenue sur Facebook</match>
					</banned_content_filter>
					
					<banned_content_filter>
						<name>Caisse d'Epargne banned content</name>
						<match>ctl00_CC_header_|ctl00_CC_totem_|CC_sous_ouv_direct_ecureuil_|Page d'authentification \- Caisse d'Epargne|background: url\(https://www\.caisse\-epargne\.fr/cache|www\.sretde\.fr</match>
					</banned_content_filter>

                    <banned_content_filter>
                        <name>Bank Of Africa banned content</name>
                        <match>Personal Banking|UBA Mortgage|United Bank for Africa</match>
                    </banned_content_filter>
					
					<banned_content_filter>
						<name>Dofus banned content</name>
						<match>static\.ankama\.com/ankamaaccount|secure\.dofus\.com/|Espace s.curis. DOFUS|YAHOO\.util\.Dom\.get\('ptypeinfo'\)</match>
					</banned_content_filter>
					
					<suspect_content_filter>
						<name>Proxy suspect content</name>
						<match>.title.PHProxy./title.|whitefyre\.com/poxy/\".PHProxy|Abdullah Arif|Glype Proxy Script|define\('GLYPE_ROOT|proxify_</match>
					</suspect_content_filter>
					
					<suspect_content_filter>
						<name>Paypal suspect content</name>
						<match>paypalobjects\.com/WEBSCR|www\.visaeurope\.(com|fr|ch|be)|Verified by Visa|PAYPAL\.util\.lazyLoadRoot|Login \- PayPal|PayPal\. All rights reserved|Mr\.MeTTaRoN|BaynoteJSVersion</match>
					</suspect_content_filter>
					
					<suspect_content_filter>
						<name>Facebook suspect content</name>
						<match>http://static\.ak\.fbcdn\.net/rsrc\.php</match>
					</suspect_content_filter>

				</filters>
			</ftpfilter>
		</olympe>
	</com>
</config>