<config>
	<com>
		<busit>
			<rest>
				<url>xxx</url>
				<initializer>com.busit.rest.Initializer</initializer>
				<filter>com.busit.security.FilterImpl</filter>
				<filterParams>
					<destination>rabbit</destination> <!-- file | rabbit (rabbit will fallback on file) -->
					<file>/var/log/tomcat/api.log</file>
					<level>all</level> <!-- all | error | none -->
					<ignore>admin</ignore> <!-- coma-separated list of user names to ignore -->
				</filterParams>
				
				<mongodb>
					<host>xxx</host>
					<database>xxx</database>
					<collection>log</collection>
					<username>xxx</username>
					<password>xxx</password>
					<port>27017</port>
				</mongodb>
				
				<logLevel>FINE</logLevel>
				<logAsync>true</logAsync>
				
				<brokerGrantName>BROKER</brokerGrantName>
				<admin>
					<uid>1000</uid>
					<name>admin</name>
					<grant>SUPERADMIN</grant>
				</admin>
				
				<vat>
					<percent>25</percent>
				</vat>
				
				<authority>
					<privateKeyFile>xxx.private</privateKeyFile>
					<certificateFile>xxx.crt</certificateFile>
				</authority>
				<authentic>
					<privateKeyFile>xxx.private</privateKeyFile>
					<certificateFile>xxx.crt</certificateFile>
				</authentic>
				<unchecked>
					<privateKeyFile>xxx.private</privateKeyFile>
					<certificateFile>xxx.crt</certificateFile>
				</unchecked>
				
				<quota>
					<credit>CREDITS</credit>
					<refund>REFUNDABLE</refund>
					<space>SPACES</space>
					<instance>INSTANCES</instance>
					<identity>IDENTITIES</identity>
				</quota>
				
				<transactionLifetime>1500</transactionLifetime>
				<cron>__CRON__</cron>
			</rest>
			<broker>
				<class>com.busit.routing.BrokerClientRabbit</class>
				<tcp>
					<host>bi-001</host>
					<port>6666</port>
				</tcp>
				<rabbit>
					<host>xxx</host>
					<vhost>/xxx</vhost>
					<username>xxx</username>
					<password>xxx</password>
					<port>5672</port>
					<exchange>xxx.cloud</exchange>
					<exchangeLog>xxx.logs</exchangeLog>
					<binding_java>0.1.*</binding_java>
					<binding_php>0.2.*</binding_php>
					<queue_java>java.cloud</queue_java>
					<queue_php>php.cloud</queue_php>
				</rabbit>
			</broker>
		</busit>
	</com>
</config>
